@import 'react-notifications-component/dist/scss/notification';

.body {
  min-height: 100vh;
  margin: 0;
}

.global {
    color:brown;
}

.dark {
  background-color: #000000;

  a, p:not(.panel__text), label, input, textarea, h1, h2, h3, h4, h5, td {
    color: #ffffff;
  }

  svg {
    fill: #fff;
  }
}

.light {
  background-color: #fff;
}
